body {
  padding-top: 50px;	
/*  background-image: url(../background.jpg);  */ 		
}


.footer {
	text-align: center;
	padding: 20px 20px 20px 20px;
	margin: 0 -20px 0 -20px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5; 
}



.alert {
	margin-top: 5px;
}


table.table div.row{
	min-height: 20px;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #fff;
}

label.required:after{
	content: '*';
}

.top-10{
	margin-top: 10px;
}

a.asc:after{
	content: '▲';
}
a.desc:after{
	content: '▼';
}


table.table-condensed div.row [class*="span"]{
    min-height: 20px;
}

.table tr.inactive td,
.table-striped tbody > tr.inactive:nth-child(2n+1) > td, .table-striped tbody > tr.inactive:nth-child(2n+1) > th{
  background-color: #ddd;
}
.table tr.inactive th, .table tr.inactive td {
    border-top: 1px solid #ccc;
} 

nav.affix{
	top: 60px;
}
@media (min-width: 768px) {
  .sidebar.affix {
    width: 158px;
    top: 60px;
  }
}

@media (min-width: 992px) {
  .sidebar.affix {
    width: 213px;
    position: fixed;
    top: 60px;
  }
}

@media (min-width: 1200px) {
  .sidebar.affix {
    width: 60px;
  }
}

/** backgrounds **/

div.success{
	background-color: #dff0d8;
}
div.danger{
	background-color: #f2dede;
}
div.warning{
	background-color: #fcf8e3;
}
div.info{
	background-color: #d9edf7;
}
div.inactive{
	background-color: #ddd;	
}
   
/** typeahead fix **/ 

.tt-query
.tt-hint 
{
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 2px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}


/*

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
  padding-top: 6px;
  padding-left: 9px;
}
*/
.tt-dropdown-menu {
  min-width: 300px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
  width: 100%;
}


.twitter-typeahead {
	width: 100%;
	margin-bottom: -5px; 
}

.tt-suggestion p.success {
	background-color: #dff0d8;;
}

div.tt-suggestion p.danger {
	background-color: #f2dede;
}
div.tt-suggestion p.warning {
	background-color: #fcf8e3;
}
div.tt-suggestion p.info {
	background-color: #d9edf7;
}
div.tt-suggestion p.inactive {
	background-color: #ddd;
}

div.tt-is-under-cursor p.success,
div.tt-is-under-cursor p.error,
div.tt-is-under-cursor p.warning,
div.tt-is-under-cursor p.info,
div.tt-is-under-cursor p.inactive
{
	background-color: transparent;
} 

div.tt-suggestion p:hover{
	background-color: blue;
	color: white;
	cursor: pointer;
}



/** form **/




form.trans
{
	background-color: #fdea9c;
	border-collapse:collapse;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px; 
}

form.trans div{
	margin-top: 2px;
	margin-bottom: 2px;

}


	
/* Data table */


table.data td.right
{
	text-align: right;
	padding-right: 10px;		
}

	
/* pagination */

ul.pagination li.details{
   color:#888;
}

ul.pagination li a{
	border:solid 1px #bbb;
	padding:6px 9px 6px 9px;
	background:#ddd;
}	


ul.pagination li a:hover,
ul.pagination li a.current{
	background:#fff;
}

ul.pagination{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	list-style-type:none;	
}

ul.pagination li.details{
    padding:3px 3px 3px 0;
    font-size: 15px;
}

ul.pagination li.dots{padding: 3px 0;}

ul.pagination li{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
}

ul.pagination li a{
	color:#000;
	display:block;
	text-decoration:none;
	padding:3px 5px;
}	
	
	
	


/* inactive table rows */

.table tr.inactive td,
.table-striped tbody > tr.inactive:nth-child(2n+1) > td, .table-striped tbody > tr.inactive:nth-child(2n+1) > th{
  background-color: #ddd;
}
.table tr.inactive th, .table tr.inactive td {
    border-top: 1px solid #ccc;
} 

/** backgrounds **/

div.success{
	background-color: #dff0d8;
}
div.error{
	background-color: #f2dede;
}
div.warning{
	background-color: #fcf8e3;
}
div.info{
	background-color: #d9edf7;
}
div.inactive{
	background-color: #ddd;	
}

/* */

a.pull-right{
	margin-top: 20px;
	margin-left: 5px;
}


/* navbar-admin */



nav.navbar-admin{
	background-color:#504332;
	color: white;
	margin-bottom: 0;
}
nav.navbar-admin div.navbar-header p.navbar-brand{
	margin-bottom: 0;
}
nav.navbar-admin li{
	background-color:#504332;
	color: white;
	margin-bottom: 0;
}
nav.navbar-admin li a{
	color: yellow;
}
nav.navbar-admin li a:hover{
	background-color: #764;
}
nav.navbar-admin li.active a{
	color: white;
	background-color: #653;
}
nav.navbar-admin div.navbar-header button.navbar-toggle{
	background-color: #653;
	border-color: grey;
}




/* Tooltip on charts */

div.chart-tooltip {
  background-color: black;
  color: White;
  position: absolute;
  left: 40px;
  top: -80px;
  z-index: 1000000;
  width: 300px;
  border-radius: 10px;
}

div.chart-tooltip p {
  margin: 10px;
  color: white;
  font-size: 1.2em;
}


/* inactive */

.bg-inactive { 
background-color: #ddd;
}

/** nav-tabs (users)**/

.bg-white {
  background-color: white; 
}


.nav-tabs {
   border-bottom: 1px solid #777; 
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  border: 1px solid #777;
  border-bottom-color: transparent; /* */

  } 
  
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-bottom-color: #777; 
  } 
 
/* messages carousel */

.messages-carousel div.item img {
  width: auto;
  height: 380px;
  max-height: 380px;
}

/* btn file */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

