body {
  padding-top: 50px;	
  /* background-image: url(../images/background_1.jpg);  */ 		
}


.footer {
	text-align: center;
	padding: 20px 20px 20px 20px;
	margin: 0 -20px 0 -20px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5; 
}



.navbar .brand {
    margin-left: 10px;
    margin-top: 10px;
	background: url(../images/logo.png) no-repeat left center; 
	height: 20px;
	width: 100px;   
}

.navbar .brand div{
    margin-left: 40px;  
}  


table.table div.row{
	min-height: 20px;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #fff;
}

label.required:after{
	content: '*';
}

.top-10{
	margin-top: 10px;
}

a.asc:after{
	content: '▲';
}
a.desc:after{
	content: '▼';
}


table.table-condensed div.row [class*="span"]{
    min-height: 20px;
}

.table tr.inactive td,
.table-striped tbody > tr.inactive:nth-child(2n+1) > td, .table-striped tbody > tr.inactive:nth-child(2n+1) > th{
  background-color: #ddd;
}
.table tr.inactive th, .table tr.inactive td {
    border-top: 1px solid #ccc;
} 

nav.affix{
	top: 60px;
}
@media (min-width: 768px) {
  .sidebar.affix {
    width: 158px;
    top: 60px;
  }
}

@media (min-width: 992px) {
  .sidebar.affix {
    width: 213px;
    position: fixed;
    top: 60px;
  }
}

@media (min-width: 1200px) {
  .sidebar.affix {
    width: 60px;
  }
}

/** backgrounds **/

div.success{
	background-color: #dff0d8;
}
div.error{
	background-color: #f2dede;
}
div.warning{
	background-color: #fcf8e3;
}
div.info{
	background-color: #d9edf7;
}
div.inactive{
	background-color: #ddd;	
}

/** ajax **/

tr.ajax-loader td div{
	height: 50px;
	background: url(../images/ajax-loader.gif) no-repeat center center;
}

   
/** typeahead fix **/ 

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
  padding-top: 6px;
  padding-left: 9px;
}

.tt-dropdown-menu {
  min-width: 300px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
  width: 100%;
}

.twitter-typeahead {
width: 100%;
margin-bottom: 10px;
}

.tt-suggestion p.success {
	background-color: #dff0d8;;
}

div.tt-suggestion p.error {
	background-color: #f2dede;
}
div.tt-suggestion p.warning {
	background-color: #fcf8e3;
}
div.tt-suggestion p.info {
	background-color: #d9edf7;
}
div.tt-suggestion p.inactive {
	background-color: #ddd;
}

div.tt-is-under-cursor p.success,
div.tt-is-under-cursor p.error,
div.tt-is-under-cursor p.warning,
div.tt-is-under-cursor p.info,
div.tt-is-under-cursor p.inactive
{
	background-color: transparent;
} 




/** elas **/




.trans
{
background-color: #fdea9c;
	border-collapse:collapse;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 12px;
	border: 2px dashed #ffce0a;
	padding:10px;	
}


/* Column 1: Navigation */
	
td.nav
{
padding-top: 30px;
padding-bottom: 30px;
font: bold 16px Helvetica, Verdana, Arial, sans-serif;
color: #120044;
padding-left: 10px;
padding-right: 10px;
border-right: 1px dashed #9974ff;
background-color: #c1c3e3;
}

/* title navigation blocks */

div.nav span.nav
{
padding-left: 40px;
text-decoration: none;
}



/* Column 2: Content */

td.news div
{
background-color: #F5FBE1;
padding: 3px;
border: 1px dashed #9974ff;
}


div.border_b
{
padding-bottom: 10px;
border-bottom: 1px dashed #9974ff;
}



	
/* Data table */

table.data 
{
border-collapse:collapse;
margin-top: 30px;
min-width: 400px;
margin-bottom: 30px;
font-size: 15px;
border: 1px solid #7579d9;
}

table.data td
{
padding: 2px;
font-size: 13px;
border-top: 0px solid #ccc;
}

table.selectbox
{
	background-color: #fdea9c;
	border-collapse:collapse;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
	border: 2px dashed #ffce0a;
}

table.selectbox td
{
	padding: 2px;
	font-size: 13px;
	border-top: 0px solid #ccc;
}


table.msgview
{
	background-color: #c1c3e3;
	min-width: 400px;
	border-collapse:collapse;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
	border: 2px dashed #35375c;
}

table.msgview td
{
	padding: 2px;
	font-size: 13px;
	border-top: 0px solid #ccc;
}

table.memberview
{
	background-color: #c1c3e3;
	border-collapse:collapse;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
}

table.memberview td
{
	padding: 2px;
	font-size: 13px;
	border-top: 0px solid #ccc;
}


tr.msgviewheader
{
	background-color:  #35375c;
	color: #fff;
}

tr.memberheader        
{
	background-color:  #35375c;
	color: #fff;
}

tr.header
{
	color: #fff;
	background-color: #666;
}

table.data tr.header td a
{
	color: #eee;
}


table.data td.border_r
{
	border-collapse:collapse;
	border-right: 1px solid #DCF2F8;
}

table.data td.data_header
{
	padding: 2px;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	border: 0px solid #7579d9;
}

table.data td.right
{
	text-align: right;
	padding-right: 10px;		
}

table.data td
{
	padding-left: 5px;
}
	
/* pagination */

ul.pagination li.details{
   color:#888;
}

ul.pagination li a{
	color:#fff;
}

ul.pagination li a
{
	color:#555;
	border:solid 1px #bbb;
	padding:6px 9px 6px 9px;
	background:#eee;
}	


	
ul.pagination li a:hover,
ul.pagination li a.current{
	background:#fff;
}

ul.pagination{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	list-style-type:none;	
}

ul.pagination li.details{
    padding:3px 3px 3px 0;
    font-size: 15px;
}

ul.pagination li.dots{padding: 3px 0;}

ul.pagination li{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
}

ul.pagination li a{
	color:#000;
	display:block;
	text-decoration:none;
	padding:3px 5px;
}	
	
	
	
/* Mootools CSS */

	#log_res {
	width: 80%;
	}
 
	div.ajax-loading {
	padding: 10px 0;
	background: url('/gfx/spinner.gif') no-repeat;
	}

        div.errormsg {
	font-style: italic;
        font-weight:bold;
        font-size: 10px;
	color: white;
        }
	
	div.msg {
	font-style: italic;
        font-weight:bold;
        font-size: 10px;
        color: black;
        }



/* inactive table rows */

.table tr.inactive td,
.table-striped tbody > tr.inactive:nth-child(2n+1) > td, .table-striped tbody > tr.inactive:nth-child(2n+1) > th{
  background-color: #ddd;
}
.table tr.inactive th, .table tr.inactive td {
    border-top: 1px solid #ccc;
} 

/** backgrounds **/

div.success{
	background-color: #dff0d8;
}
div.error{
	background-color: #f2dede;
}
div.warning{
	background-color: #fcf8e3;
}
div.info{
	background-color: #d9edf7;
}
div.inactive{
	background-color: #ddd;	
}

/* */

a.pull-right{
	margin-top: 20px;
	margin-left: 5px;
}


/* admin */

div.admin{
	background-color:#504332;
	color: white;
	padding: 10px;
}
div.admin a{
	color: yellow;
}
div.admin a.active{
	color: white;
}

/* Tooltip */

div.tooltip {
  background-color: #3D6199;
  color: White;
  position: absolute;
  left: 25px;
  top: -25px;
  z-index: 1000000;
  width: 250px;
  border-radius: 5px;
}
div.tooltip:   before {
  border-color: transparent #3D6199 transparent transparent;
  border-right: 6px solid #3D6199;
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: -6px;
}
div.tooltip p {
  margin: 10px;
  color: White;
}

