
!**/.htaccess

parameters.php
parameters.yml

site/*
!site/*.dist


info.php
javapop.txt
update-rsync.sh
sites/default/config/elas.xml
sites/default/msgpictures/*
sites/default/userpictures/*
testdeploy.sh

contrib/*
soap/lib/*


components/*
vendor/*
composer.phar

web/bundles/
web/js/*
web/css/*

web/sites/default/config/elas.xml
web/config.php
web/images/*
web/cache/*

app/cache/*
app/logs/*
app/bootstrap.php.cache
app/app.sqlite
app/app.db
app/config/parameters.yml
app/config/parameters.php
app/config/config.yml
app/parameters.php

app/site/*
!app/site/*.dist
