<?php

$parameters = array(

	'db' => array(
		'driver'	=> 'mysql',
		'dbname'	=> '',
		'host'		=> 'localhost',
		'user'		=> 'root',
		'password'	=> '',
//		'charset'	=> 'utf8',
//		'path'		=> '../app/app.db',     	// for pdo_sqlite // not yet implemented 
//		'port'		=> '',
		),

	'mail' => array(
		'host'		=> '',
		'port'		=> '',
		'username'	=> '',
		'password'	=> '',
		'encryption'=> null,
		'auth_mode' => null,
		),



	'locales'	=> array ('nl'),		
	'locale'	=> 'nl',


		
	'timezone'	=> 'Europe/Brussels',
	
	'load_from_cdn' => true,	
	
	'debug'		=> false,			
			
	'debug_mail' => array(
		'transport'	=> 'gmail',
		'username'	=> '',
		'password'	=> '',
		'delivery_address' => '', 				
		),

	'recaptcha_public' => '',
	'recaptcha_private' => '', 

	
	);
		


