
site_name: Lets Zondorp (demo)

meta_keywords: lets, letsgroups, open source software demo
meta_description: marva open source software for letsgroups demo 

letsgroup_name: Lets Zondorp (demo)
letsgroup_code: zon

currency_singular: Straaltje    
currency_plural: Straaltjes

currency_rate: 60 
default_limit: 2000

mail:
    info: ~
    support: ~
    admin: ~
    noreply: ~
    list: ~
